<div class="d-flex justify-content-center top">
   <div class="d-flex align-items-center name">Nina Hemmingsson</div>
</div>
<div class="mid">
    <div class="your-class">
        <div *ngFor="let image of images;">
            <img class="image" src="assets/images/{{ image.src }}" alt="{{ image.title }}">
        </div>
    </div>
</div>
<div class="d-flex justify-content-center bottom">
    <div class="d-flex align-items-center commercial-break">
        <div>
            <p>För böcker <a target="_blank" href="https://www.bokus.com/cgi-bin/product_search.cgi?ac_used=yes&search_word=nina+hemmingsson">klicka här</a></p>
            <p>Instagram: <a target="_blank" href="https://www.instagram.com/ninahemmingsson">@ninahemmingsson</a></p>
            <p>Facebook: <a target="_blank" href="https://sv-se.facebook.com/pages/category/Artist/Nina-Hemmingsson-366806196664259/">/nina.hemmingsson</a></p>
            <p>Twitter: <a target="_blank" href="https://twitter.com/ninahemmingsson">@ninahemmingsson</a></p>
            <p>För kontakt och uppdrag: <a href="mailto:info@ninahemmingsson.com" target="_top">info@ninahemmingsson.com</a></p>
            <div class="official-home-page">Officiell hemsida för Nina Hemmingsson</div
        ></div>
    </div>
</div>