<div class="d-flex justify-content-center top">
   <div class="d-flex align-items-center name">Thomas Olsson</div>
</div>
<div class="mid">
    <div class="your-class">
        <div *ngFor="let image of images;">
            <img class="image" src="assets/images/{{ image.src }}" alt="{{ image.title }}">
        </div>
    </div>
</div>
<div class="d-flex justify-content-center bottom">
    <div class="d-flex align-items-center commercial-break">
        <div>
            <p>Kreativ studio och agentur för konst och litteratur.</p>
            <p>För mer info: <a href="mailto:mail@thomas-olsson.com" target="_top">mail@thomas-olsson.com</a></p>
            <p></p>
            <p></p>
            <p></p>
            <div class="official-home-page">Officiell hemsida för Thomas Olsson</div>
        </div>
    </div>
</div>