.name {
    font-family: "Roboto";
    font-size: xx-large;
    font-weight: bold;
}

.top {
    background-color: #ffffff;
    height: 15vh;
}

.mid {
    background-color: #ffffff;
    height: 50vh;
    overflow-x: hidden;
    /*padding-top: 5vh;*/
}

.image {
    height: 45vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.bottom {
    background-color: #000000;
    height: 35vh;
}

.commercial-break {
    font-family: "Roboto";
    font-size: small;
    color: #ffffff;
    text-align: center;
}

.commercial-break p {
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
}


.official-home-page {
    margin-top: 2vh;
    font-size: xx-small;
}

a {
    color: #ffffff;
    text-decoration: underline;
}