<div class="d-flex justify-content-center top">
   <div class="d-flex align-items-center name">Jan Stenmark</div>
</div>
<div class="mid">
    <div class="your-class">
        <div *ngFor="let image of images;">
            <img class="image" src="assets/images/{{ image.src }}" alt="{{ image.title }}">
        </div>
    </div>
</div>
<div class="d-flex justify-content-center bottom">
    <div class="d-flex align-items-center commercial-break">
        <div>
            <p>För böcker <a target="_blank" href="https://www.bokus.com/cgi-bin/product_search.cgi?ac_used=no&search_word=jan+stenmark">klicka här</a></p>
            <p>Instagram: <a target="_blank" href="https://www.instagram.com/stenmarksbilder">@stenmarksbilder</a></p>
            <p>Facebook: <a target="_blank" href="https://sv-se.facebook.com/Stenmark.Jan/">/Stenmark.Jan</a></p>
            <p></p>
            <p>För kontakt och uppdrag: <a href="mailto:info@janstenmark.se" target="_top">info@janstenmark.se</a></p>
            <div class="official-home-page">Officiell hemsida för Jan Stenmark</div
        ></div>
    </div>
</div>